/* Story */
.story {
	padding: 4.375rem 0;
	background-color: #fff;
	&__flex {
		display: flex;
		align-items: flex-start;
	}
	&__image {
		margin-left: 7%;
		margin-right: 10%;
		img {
			width: 235px;
		}
	}
}

@media screen and (max-width: 650px) {
	.story {
		padding-top: 2rem;
		&__flex {
			flex-wrap: wrap;
		}
		&__image {
		margin: 0 auto 2rem;
			img {
				width: 150px;
			}
		}
		&__article {
			padding-left: $standart-indent;
		}
	}
}