
$accent: #00e0d0;
$title-grey: #413d4b;
$subtitle-grey: #2f2d35;
$subtitle-white: #f9f9f9;
$text-white: #f3f3f3;
$text-grey: #333333;
$input-playsholder: rgba(65,61,75,.5);

$standart-indent: .625rem;   //10px

$h1-font-size: 2rem;
$h2-font-size: 1.375rem;  //22px
$h3-font-size: .9375rem;  //15px
$h4-font-size: .875rem;   //14px